@font-face {
    font-family: Montserrat;
    src: url(Montserrat/static/Montserrat-Regular.ttf);
  }

  @font-face {
    font-family: Montserrat;
    src: url(Montserrat/static/Montserrat-Bold.ttf);
    font-weight: bold;
  }

* {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  color: #f0f2ef;
}

.nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 30px;
}

.nav li{
  display: inline;
}

.nav {
  border-bottom: 1px solid #f0f2ef;;
}

.nav-page {
  margin: 100px 20px;
}

.nav-initials {
  margin: 0px 20px;
  font-weight: bold;
  padding-left: 30px;
}

.nav-items {
  padding: 20px 0px;
}

.nav-link {
  text-decoration: none;
  color: #f0f2ef;
}

.nav-link:hover{
  color: orange;
}


.nav-initials{
  text-decoration: none;
  color: #f0f2ef;
}

.nav-initials:hover{
  color: orange;
}

  .main-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: Montserrat;
    /* color: #f0f2ef; */
}

.main-title h1{
    font-weight: bold;
    font-size: 500%;
    /* color: #f0f2ef; */
}

body{
    background-color: #2f2f2f;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}